.App {
  text-align: center;
}

/* header Style */
.links .link{
  display: inline-block;
  margin-left: 10px;
  font-weight: 500;
  font-size: 1.1rem;
  /* height: 1rem; */
  
} 

.nav{
  transition: 2s;
}


.navbar{
  /* background-color: transparent; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.4));

  color: white;
  transition: .2s;
}

.navbar a{
  color:white;
}

.navbar.active{
  /* background-color: black; */
   
  /* background-image: linear-gradient(#212529,#212529); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.4));
  /* animation: nav 1s linear */
}

.navbar-brand{
  font-size: 1.4rem;
  font-weight: 600;
}

/* @keyframes nav {
  100%{
      transform: translateY(-100%)
  }
} */



.header .logOut-btn{
  border: 1px solid transparent;
  background-color: none;
  font-weight: 500;
  margin-left: 5px;
  /* transition: .2s; */
  padding: 5px;
  margin-block: 100px;
  /* display: inline-block; */
}

.logOut-btn:hover{
  color: white;
  /* background-color: #D32F2F !important; */
}

.links .profile-pic{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-pic-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width:992px) {
  .navbar{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.4));
  }
  .profile-pic{
    
  }
  .logOut-btn{
      width: 8rem;
      margin-inline: auto;
      padding-inline: 2px;
      padding-block: 5px;
  }
}

/* Banner style */
.carousel.carousel-fade .carousel-item {
  display: block;
  opacity: 0;
  transition: opacity ease-in-out .3s;
}

.carousel.carousel-fade .carousel-item.active {
  opacity: 1 !important;
}

.carousel-item img{
  height: 750px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.carousel-caption h3{
  font-size: 4rem;
  /* margin-top: -100px;
  display: inline-block; */
}


.carousel-caption p{
  font-size: 1.3rem;
  width: 60%;
  margin-inline: auto;
}

.carousel-caption{
  padding-bottom: 100px;
}


/* Login form style */
.login-form input{
  margin: 10px;
  height: 40px;
  width: 90%;
  max-width: 400px;
  border: 1px solid rgba(128, 128, 128, 0.661);
  font-size: 1.2em;
  border-radius: 3px;
}

.login{
  margin-bottom: 100px;
  margin-top: 120px;
}

.login-heading{
  margin-top: 50px ;
  margin-bottom: 30px ;
  font-size: 2.5rem;
}

.login-btn, .register-btn{
  background-color: #105cce;
  transition: .3s;
}
.login-btn:hover{
  background-color: #0b53bf;
}

/* Register Form Style */

.register{
  margin-top: 100px;
}
.register-form input{
  padding: 5px;
  margin: 10px;
  height: 40px;
  width: 90%;
  max-width: 400px;
  border: 1px solid rgba(128, 128, 128, 0.661);
  font-size: 1.2em;
  border-radius: 3px;
}
.register-form a{
  display: inline-block;
text-decoration: none;
font-weight: 500;
margin-bottom: 20px;
}

.register-form{
  margin-bottom: 30px ;
}

.register-btn:hover{
  background-color: #0b53bf;
}

.register-heading{
  margin-top: 30px ;
  margin-bottom: 30px ;
  font-size: 2.5rem;
}

/* About us Style */
.info-row{
  background-color: rgba(0, 0, 0, 0.582);
  background-image: url('https://images.unsplash.com/photo-1531545514256-b1400bc00f31?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8ZSUyMGxlYXJuaW5nfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80');
  color: white;
  background-blend-mode: darken;
  background-attachment:fixed;
  background-position: center;
  padding-bottom: 20px;
  /* width: 100%; */
  margin-block: 0px;
}

.info-row span{
  font-size: 40px;
  font-weight: 700;

}

.icon{
  padding-top: 40px;
  margin-bottom: 0px;
  color: gold;
  font-size: 50px;
}

.about{
  /* background-color: cadetblue; */
  margin-block: 30px;
  width: 100%;
  /* margin-inline: auto; */
  /* border-radius: 10px; */

}

.about h2{
  padding: 10px;
}

.about p{
  font-weight: 500;
  /* color: white; */
  width: 60%;
  margin: auto;
  padding-bottom: 20px;
}


/* Teachers Style */

.teachers-img{
  height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.teachers-section{
  /* margin: 10px; */
}

.teachers-row{
  /* width: 100%; */
  text-align: center;
}
/* course style */
.card-img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.buy-btn-container{
  display: flex;
  align-items: center;
  justify-items: center;
}
/* add order style */
.purchase-form{
  /* border: 1px solid black;     */
  padding-top: 50px ;
  padding-bottom: 10px;
  margin-bottom: 10px;
  text-align: center;
}


.purchase-form input{
  font-size: 1rem;
  font-weight: 500;
}

.purchase-form:focus{
  border: none;
}
.purchase-heading{
  font-size: 2.5em;
  padding-top: .8em;
  padding-bottom: 1em;
  text-align: center;
  font-weight: 700;
}
.purchase-form input{
  width: 70%;
  height: 40px;
  font-size: 20px;
  margin-inline: auto;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 5px;
  margin: 5px;
}

.purchase-img-container{
  display: flex;
  align-items: center;
  justify-content: center;
  /* border:  1px solid black; */
}

.purchase-img{
  max-width: 70%;
  
}
.col-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.alert{
  display:flex;
  align-items: center;
}


.price{
  font-size: 1.1rem;
}
/* .purchase-btn{
  margin: auto;
} */

@media screen and (max-Width:1024px) {
 .buy-btn{
margin-inline: auto;
 }


}

@media screen and (max-Width:992px) {
  .purchase-img{
      max-width: 100%;
      
  }
  .purchase-form input{
      width: 100%;
  }
}

@media screen and (max-Width:750px) {
  .purchase-form input{
      width: 80%;
  }

  .purchase-heading{
      font-size: 2em;
      padding-top: .8em;
      padding-bottom: 1em;
  }

  .purchase-form input{
      border-radius: 2px;
      width: 90%;
      height: 30px;
      font-size: 17px;
      margin-inline: auto;
      border: 1px solid gray;
      padding: 5px;
      margin: 5px;
  }

  .purchase-form{
      padding-top: 50px ;
      padding-bottom: 10px;
      margin-bottom: 10px;
  
  }
  .purchase-img{
      max-width: 90%;
      
  }



}
/* const img3 = "https://i.ibb.co/4P4rrdn/j-kelly-brito-Pe-UJyoylfe4-unsplash.jpg"; */
/* Newsletter Style */
.newsletter{
  background-image: url('https://i.ibb.co/4P4rrdn/j-kelly-brito-Pe-UJyoylfe4-unsplash.jpg');
  /* background-attachment: fixed; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.582);
  color: white;
  background-blend-mode: darken;
  background-attachment:fixed;
  padding-bottom: 20px;
  height: 400px;
  /* width: 90%; */
  margin-inline: auto ;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-bottom:20px ; */
}
.newsletter-info{
  text-align: center;
  /* margin-left: 7em; */
}

.newsletter-info h2{
  display: inline-block;
  font-size: 2.5em;
  font-weight: 600;
}

.newsletter-info h3{
  display: inline-block;
}

.newsletter input {
  background: transparent;
  border: 1px solid gray;
  border-radius: 2em;
  font-size: 1.5em;
  width: 100%;
  margin-top: 1em;
  height: 70px;
  padding-inline: 50px;
}

@media screen and (max-width:500px) {
  .newsletter{
      background-position: left;
      background-size: cover;
      height: 400px;
      width: 100%;
      margin-inline: auto ;
      text-align: left;
      display: flex;
      align-items: center;
      justify-content: start;
      margin-bottom:20px ;
  }
  .newsletter-info{
      text-align: left;
      margin-left: 15px;
  }
  
  .newsletter-info h2{
      display: inline-block;
      font-size: 2em;
      font-weight: 600;
  }
  .newsletter input {
      font-size: 1em;
      width: 70%;
      height: 40px;
      padding-inline: 50px;
  }
  
  
}
/* Footer Style */
.footer-col{
  text-align: left;
}

.footer-col a{
  display: block;
  padding-bottom: 5px;
  cursor: pointer;
  font-size: .9rem;
  text-decoration: none;
  color: white;
}

.footer-col h5{
  color: white;
}
.footer-top{
  background-color: #1d2023;
}
.footer .footer-bottom p{
  color: white;
  font-weight: 500;
  text-align: center;
  line-height: 50px;
}

.footer .footer-bottom{
  background-color: #000000ec;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
